html,
body {
  height: 100%;
  color: #fff;
  overflow-x: hidden;
  background: linear-gradient(180deg, #000 0%, #0B1531 100%);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  background: url('./assets/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media(min-width:1280px) {
  .container {
    width: 1280px;
  }
}

@media(max-width:1024px) {
  .container {
    max-width: 1024px;
  }
}

@media(max-width:768px) {
  .container {
    max-width: 768px;
  }

  .nav_menu {
    flex-direction: column;
    position: absolute;
    right: -120px;
  }

}

@media(max-width:640px) {
  .container {
    max-width: 640px;
  }
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  backdrop-filter: blur(25px);
  padding: 24px;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_logo img {
  width: 24px;
  height: 24px;
}

.nav_menu {
  display: flex;
  gap: 48px;
  font-weight: 400;
  align-items: center;
}

.nav_menu .nav_menu-button {
  position: relative;
}

.nav_menu .nav_menu-button button {
  all: unset;
  padding: 18px 48px;
  border-radius: 10px;
  background: var(--button-dark-signup, linear-gradient(180deg, rgba(254, 200, 241, 0.90) 0%, rgba(237, 146, 215, 0.00) 40.39%), radial-gradient(96.63% 140.33% at 76.68% 66.67%, rgba(96, 46, 166, 0.00) 0%, rgba(201, 119, 214, 0.50) 100%));
  background-blend-mode: overlay, normal;
  /* Sign Up button */
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10), 0px 0px 5px 0px #FFACE4 inset, 0px -1px 8px 0px #9375B6 inset;
  mix-blend-mode: color-dodge;
  cursor: pointer;
  filter: blur(1px);

}

.nav_menu .nav_menu-button::after {
  content: "Sign Up";
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  font-weight: 500;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.banner .banner-inroducing {
  all: unset;
  padding: 4px 6px;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.05) 100%);
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.50);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.banner .banner-title {
  font-size: 96px;
  background: linear-gradient(155deg, #CC51D6 0%, #5A68E8 100%, #E1B1FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.banner .banner-desc {
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.60);
}

.banner .banner-generate {
  all: unset;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(254, 200, 241, 0.90) 0%, rgba(254, 200, 241, 0.00) 40.39%), radial-gradient(137.13% 253.39% at 76.68% 66.67%, #602EA6 0%, #C977D6 100%);
  background-blend-mode: overlay, normal;
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.40), 0px 0px 5px 0px #FFACE4 inset, 0px -1px 8px 0px #9375B6 inset;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}