html,
body {
  background: linear-gradient(180deg, #000 0%, #0B1531 100%);
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
}

.container {
  width: 1320px;
  margin: auto;
  padding: 15px;
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav_logo img {
  width: 24px;
  height: 24px;
}

.nav_menu {
  display: flex;
  gap: 48px;
  font-weight: 400;
  align-items: center;
}

.nav_menu .nav_menu-button {
  position: relative;
}

.nav_menu .nav_menu-button button {
  all: unset;
  padding: 18px 48px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(254, 200, 241, 0.90) 0%, rgba(237, 146, 215, 0.00) 40.39%), radial-gradient(96.63% 140.33% at 76.68% 66.67%, rgba(96, 46, 166, 0.00) 0%, rgba(201, 119, 214, 0.50) 100%);
  background-blend-mode: overlay, normal;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10), 0px 0px 5px 0px #FFACE4 inset, 0px -1px 8px 0px #9375B6 inset;
  filter: blur(1px);
  cursor: pointer;
}

.nav_menu .nav_menu-button::after {
  content: "Sign Up";
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  font-weight: 500;
}